/* BASE STYLES */
html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: sans-serif;
  color: #4d4d4d;
  margin: 0;
}

main {
  min-height: auto;
}

/* GRID BASE STYLE */

.grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: minmax(50px, auto);
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}


footer {
  grid-area: footer;
}

/* HEADER STYLING */
header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 100%;
  margin: 5px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #4d4d4d;
}

.google-account ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.google-account ul li {
  padding: 10px;
}

.google-account ul li a {
  text-decoration: none;
  color: #4d4d4d;
}

.google-account ul li a button {
  background-color: #4285F4;
  color: #f2f2f2;
  font-weight: bold;
  border-radius: 5%;
  border: none;
  padding: 5px;
}

/* MAIN BODY STYLING */

.content-wrapper {
  min-height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.content-wrapper form input {
  border-radius: 25px;
  border-color: #f2f2f2;
  border-width: 1px;
  padding: 10px;
  margin: 10px;
  min-width: 75%;
}

.content-wrapper form button {
    border-radius: 5px;
    padding: 5px;
    margin: 20px 10px;
    display: flex;
    border: none;
    color: #666666;
}

/* FOOTER STYLING */

.footer-wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
} 

.footer-flex-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f2f2f2;
}
.business {
  max-width: 50%;
}

.business ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;

}

.footer-wrapper ul li {
  padding: 10px;
}

.footer-wrapper ul li a {
  text-decoration: none;
  color: #4d4d4d
}

.privacy {
  max-width: 50%;
}

.privacy a {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  text-decoration: none;
  color: #4d4d4d;
} 